Repository Verseghy/website_frontend, pull requests merged in 2019-05, with the labels that each got.

#490 fix: Menu z-index
  apps/frontend/src/app/components/header/header.component.css
Labels: PR action: review, proj: frontend, type: bug/fix

#496 fix: change large image to a smaller one
  apps/frontend/src/app/modules/home/services/request.service.ts
Labels: PR action: merge, effort1: hours, prio5: lowest, proj: frontend, type: bug/fix

#503 feat: add firebase deployment for frontend
  .circleci/config.yml
  angular.json
  apps/frontend/.firebaserc
  apps/frontend/.gitignore
  apps/frontend/firebase.json
  apps/frontend/firestore.indexes.json
  apps/frontend/firestore.rules
  apps/frontend/functions/.gitignore
  apps/frontend/functions/package-lock.json
  apps/frontend/functions/package.json
  apps/frontend/functions/src/index.ts
  apps/frontend/functions/tsconfig.json
  apps/frontend/functions/tslint.json
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/environments/environment.prod.ts
  apps/frontend/src/environments/environment.ts
  apps/frontend/storage.rules
Labels: PR action: merge, proj: frontend

#506 feat: Add pacman loader
  apps/frontend/src/app/app.component.css
  apps/frontend/src/app/app.component.html
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/app/modules/canteen/components/canteen/canteen.component.html
  apps/frontend/src/styles.scss
  package.json
  yarn.lock
Labels: PR state: WIP, proj: frontend

#511 feat: add featured-post gesture
  apps/frontend/src/app/modules/home/components/featured-post/featured-post.component.html
  apps/frontend/src/main.ts
Labels: PR action: merge

#522 feat: Add image & description to devs page
  apps/frontend/src/app/modules/misc/components/authors/authors.component.html
  apps/frontend/src/assets/modules/misc/components/authors/01.jpg
Labels: PR action: review, prio4: low, proj: frontend, type: feature

#525 fix: Colleagues page is not responsive
  apps/frontend/src/app/modules/misc/components/colleagues/colleagues.component.css
Labels: PR action: review, prio3: medium, proj: frontend, type: bug/fix
